n8n_workflow.json
{
  "name": "Working Video Generation n8n Workflow Form Edit And Github Codespaces URL",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Form for Manual Trigger",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Script (one line per scene)",
              "fieldType": "textarea"
            },
            {
              "fieldLabel": "voice",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "af_bella"
                  },
                  {
                    "option": "af_sarah"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Orientation",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "landscape"
                  },
                  {
                    "option": "portrait"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Caption Position",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "bottom"
                  },
                  {
                    "option": "center"
                  },
                  {
                    "option": "top"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -624,
        -144
      ],
      "id": "c84f2ed5-147f-48e2-9362-39a33f63794f",
      "name": "Upload Voice Over Script Ensure Double Space In between Scenes And Select Voice",
      "webhookId": "d7755c81-0b96-4a36-a3a3-d0315618c5ca"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst rawScript = input[\"Script (one line per scene)\"] || \"\";\nconst voice = input[\"voice\"] || \"af_bella\";\nconst orientation = input[\"Orientation\"] || \"landscape\";\nconst caption_position = input[\"Caption Position\"] || \"bottom\";\n\nconst scenes = rawScript\n  .split(/\\r?\\n\\r?\\n/)\n  .map(s => s.trim())\n  .filter(s => s.length > 0)\n  .map(text => ({\n    text: text,\n    media_name: \"detect\"\n  }));\nreturn [{\n  json: {\n    scenes: scenes,\n    voice: voice,\n    add_captions: true,\n    add_effects: true,\n    caption_position: caption_position,\n    orientation: orientation\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        -144
      ],
      "id": "0480a535-1070-4a93-9cd6-326ee3987093",
      "name": "Formats Output For Scenes And Voice"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://video-generator:8000/generate-ghibli-video",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 3600000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        560,
        -144
      ],
      "id": "8a6c899c-0431-4979-85d1-c79bf23b112f",
      "name": "Send Video Generation Request To FastAPI of app_v3.py"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        768,
        -144
      ],
      "id": "697ecf06-7beb-4166-879f-91b86e5b152e",
      "name": "Wait",
      "webhookId": "eac8df99-c55f-4fd6-9908-b6465819da42"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7deeb833-1d2a-4e21-bab5-abb2173f7710",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1184,
        -144
      ],
      "id": "9f1aa170-1d4d-4aef-acc8-7562d7d0d1d6",
      "name": "If"
    },
    {
      "parameters": {
        "url": "=http://video-generator:8000/video-status/{{ $node[\"Send Video Generation Request To FastAPI of app_v3.py\"].json[\"job_id\"] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "n8n"
            },
            {
              "name": "bypass-tunnel-reminder",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        976,
        -144
      ],
      "id": "5aadde87-a556-4bbd-8a2d-fe29f561bfd9",
      "name": "Get Status"
    }
  ],
  "pinData": {},
  "connections": {
    "Upload Voice Over Script Ensure Double Space In between Scenes And Select Voice": {
      "main": [
        [
          {
            "node": "Formats Output For Scenes And Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formats Output For Scenes And Voice": {
      "main": [
        [
          {
            "node": "Send Video Generation Request To FastAPI of app_v3.py",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Video Generation Request To FastAPI of app_v3.py": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Status": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "e6157dcc-9c94-4193-9368-79cad9406671",
  "meta": {
    "instanceId": "539fedbca511a35f7af6bfe2828633307fcd9a0d163a852c26e758923dbeb21c"
  },
  "id": "Ctzhwe5iHY3x7Hp8AMSVh",
  "tags": []
}